@model IEnumerable<SlackDAW1.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>

@if(ViewBag.message != null)
{
    <div class="alert alert-success">@ViewBag.message</div>
}

@Html.ActionLink("Create New Category", "New", null, new { @class = "btn btn-primary" })

<table class="table">
    <tr>
        <th>Category Name</th>
        <th>Channels</th>
        <th>Actions</th>
    </tr>

    @if (ViewBag.Channels != null)
	{
    @foreach (var category in ViewBag.Categories)
    {
        <tr>
            <td>@category.CategoryName</td>
            <td>
                <ul>
                    @if (ViewBag.Channels != null)
                    {
                        @foreach (var channel in ViewBag.Channels)
                        {
                            <li>@channel.ChannelName</li>
                        }
                    } else 
                    {
						<li>No channels in this category</li>
					}
                </ul>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = category.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = category.CategoryID })
            </td>
        </tr>
    }
    } else {
		<tr>
			<td>No categories</td>
			<td></td>
			<td></td>
		</tr>
	}
</table>


